---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <article class="">
    <h1 class="font-bold text-5xl text-red-500 text-center">Cocktail Index</h1>
  </article>
</MainLayout>
